body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.barra-lateral{
    color: rgb(1,21,196);
    width: 200px;
    height: 100vh;  
    margin: 0;
    background-color: rgb(1, 21, 196); 
}

.titulo {
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    
   
}

.circular-image {
    background-color: rgb(30, 144, 255);
    border-radius: 50%;
    height: 120px;
    object-fit: cover;
    width: 120px; ;
    margin: 0 0 0 30px;

}

.cadastrar-cliente,.cadastrar-emprestimo,.registros,.pagamento {
    background-color: dodgerblue;
    color: #fff;
    padding: 10px 20px;
   
    text-decoration: none;
    display: inline-block;
}

.cadastrar-cliente:hover, .registros:hover,.cadastrar-emprestimo:hover,.pagamento:hover {
    background-color: #357ca5;
}


.tabela-cliente{
    color: black;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

.tabela-emprestimo{
    color: black;
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    padding: 15px;
    border-radius: 15px;
    width: 45%;
}